body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}


.watchWindow {
    overflow: hidden;
    cursor: url(hand.cur) 6 8, pointer;
}

.showImage {
    position: relative;
    top: 0;
    left: 0;
}
